mixin bottomNav()
  ul.nav__list
    li.nav__item
      a(href="").nav__link Распродажа
    li.nav__item
      a(href="").nav__link Контактые линзы
      ul.nav__submenu-wrap
        .container
          ul.nav__submenu
            li.nav__submenu__item
              ul.nav__submenu__inner
                li.nav__submenu__title Производители
                li 
                  a(href="#") iWear
                li 
                  a(href="#")  Johnson & Johnson
                li 
                  a(href="#")  Alcon/CibaVision
            li.nav__submenu__item
              ul.nav__submenu__inner
                li.nav__submenu__title Тип
                li 
                  a(href="#") Однодневные
                li 
                  a(href="#")  Двухнедельные
                li 
                  a(href="#")  Ежемесячные
                li
                  a(href="#") Торические
                li
                  a(href="#") Мультифокальные
                li
                  a(href="#") Цветные линзы
            li.nav__submenu__item
              ul.nav__submenu__inner
                li.nav__submenu__title Бренды
                li 
                  a(href="#") Acuvue
                li 
                  a(href="#")  Air Optix
                li 
                  a(href="#")  Dailies
    li.nav__item
      a(href="").nav__link Солнцезащитные очки  
    li.nav__item
      a(href="").nav__link Оправы 
    li.nav__item
      a(href="").nav__link Линзы
    li.nav__item
      a(href="").nav__link Аксессуары