@import 'settings/jquery-ui';
//@import 'settings/jquery-ui.theme';

@import 'partials/slick';
@import 'partials/slick-theme';
@import 'partials/normalize';
//VARS
@import 'partials/vars';

//MEDIA
@import 'partials/media';

//CONTENT
@import 'partials/**/*';

@media (min-width: 1441px)  {
	.menu-left {
		left: -28.5%;
		width: 28.5%;
	}
}

@media (min-width: 1600px) {
	.menu-left {
		left: -30.8vw;
		width: 30.8vw;
	}
}

@media (min-width: 1700px) {
	.menu-left {
		left: -32.8vw;
		width: 32.8vw;
	}
}

@media (min-width: 1920px) {
	.menu-left {
		left: -34vw;
		width: 34vw;
	}
}

@media (min-width: 1960px) {
	.menu-left {
		left: -35.7vw;
		width: 35.7vw;
	}
}

@media (min-width: 2200px) {
	.menu-left {
		left: -39.29vw;
		width: 39.29vw;
	}

	.addresses--right {
		width: 60%;
	}
}

@media (min-width: 2500px) {
	.menu-left {
		left: -39.2vw;
		width: 39.2vw;
	}
}


@media screen and (max-width: 1200px) {
		html {
		font-size: 16px;
	}
	
}


@media screen and (max-width: 1024px) {
	
}

@media screen and (max-width: 992px) {
	html {
		font-size: 15px;
	}
	.header__top.menu-left {
    display: block;
  }
}


@media screen and (max-width: 768px) {
    html {
		font-size: 14px;
	}

}


@media screen and (max-width: 480px) {
	html {
		font-size: 12px;
	}

}