.character-tabs
  .character-tabs__wrapp
    input(type="radio" name="tab" id="tab-1" hidden checked)
    label(for="tab-1") Описание
    input(type="radio" name="tab" id="tab-2" hidden )
    label(for="tab-2") Характеристики 
    input(type="radio" name="tab" id="tab-3" hidden )
    label(for="tab-3") Отзывы
  .character-tabs__content
    section.tab-1
        p Почувствуйте радость жизни, а не свои контактные линзы. Жизнь наполнена чудесными моментами. Как было бы хорошо наслаждаться этими моментами в таких комфортных контактных линзах, которые Вы просто не замечаете.  
        p Контактные линзы ACUVUE OASYS идеально Вам подходят, если Вы:
        p   хотите себя чувствовать так, как будто у Вас на глазах нет контактных линз?; много часов работаете за компьютером; проводите много времени в отапливаемых или кондиционируемых помещениях, где сухой воздух.
    section.tab-2
      span Характеристики
    section.tab-3
      span Отзывы