.container
  .instagram__wrapp 
    .instagram__left
      span.instagram__icon
        +icon('instagram', 'instagram__left__icon')
      .block-title.instagram__title Мы в Instagram
      .instagram__text Сегодня нас посетил чувак в очках
      .instagram__hashtag #stigma #optica
      .instagram__link
        a(href="http://instagram.com") Перейти в инстаграм
    .instagram__right
      ul.instagram__list
        li
          a(href="http://")
            img(src="images/insta-1.png", alt="")
            span.instagram__hashtag #alsaut #stigma #man
        li
          a(href="http://")
            img(src="images/insta-2.png", alt="")
            span.instagram__hashtag #alsaut #stigma #man
        li
          a(href="http://")
            img(src="images/insta-3.png", alt="")
            span.instagram__hashtag #alsaut #stigma #man
  
