.product-card__footer
  p Современные мягкие контактные линзы очень комфортны и не представляют опасности для глаз и подходят практически для любого типа коррекции зрения: близорукость, дальнозоркость, астигматизм, возрастные нарушения.  
  p Свойства контактных линз зависят от материала, из которого они изготовлены. 
    | Как правило, основными характеристиками являются содержание воды и кислородная проницаемость. 
    | Подбирать контактные линзы необходимо только под руководством врача-офтальмолога. 
    | В этом отношении мы всегда идем навстречу клиентам.  Если вы обратитесь в любой из салонов «Оптика Стигма», 
    span наши врачи осмотрят и подберут 
    | контактные линзы с использованием новейшего оборудования.  
  p Какие контактные линзы выбрать, цветные или прозрачные? 
    | Это зависит от ваших потребностей и рекомендаций врача. В наших салонах оптики в Махачкале и Дербенте вы можете заказать косметические цветные контактные линзы и цветные линзы с диоптриями любого цвета и оттенка по вашему желанию. 
    | А также на нашем сайте  вы можете найти нужную вам информацию и получить 
    span советы по выбору контактных линз.  
  p Все линзы, кроме однодневных, требуют ухода и соблюдения правил гигиены при одевании и снятии линз. 
    | Если вы раньше пользовались контактными линзами и можете выбрать их самостоятельно, заказать контактные линзы можно на нашем сайте с доставкой на дом в Дербенте и Махачкале. 
    | Условия доставки вы найдете на сайте, в разделе 
    span «Оплата и доставка».