extends layout
append vars
	- active = 0
	- title = 'О нас | Стигма'
block content
	.container
		+crumbs([['Главная', '/'], ['О нас', '/about.html']], 1)
	section
		.container
			.block-title О нас
			ul.section__list.about-page__list
				li
					span.about-page-icon
						+icon('about-1', 'about__icon')
					.section__item_title Наша история 
					p  Наша компания вышла на рынок в далеком 1998 году. За прошедшие годы мы накопили солидный опыт,  массу хороших отзывов и наработали высокий профессионализм. С момента основания мы делали акцент на лечебной оптике. Наши клиенты – люди с нарушениями зрения любого возраста и социального положения – всегда находят у нас то, что помогает им сделать зрение лучше и видеть мир во всех его красках.
				li
					span.about-page-icon
						+icon('about-2', 'about__icon')
					.section__item_title Наша миссия
					p Быть профессиональной и ориентированной на клиента сетью салонов оптики, предоставлять высокое качество оптической продукции и безупречный сервис. Важная часть нашей миссии - просвещение пациентов в отношении глазных заболеваний, помощь в их предотвращении и восстановлении здоровья глаз. Мы не пытаемся продать очки – мы стремимся сделать ваше зрение здоровым! 
				li
					span.about-page-icon
						+icon('about-3', 'about__icon')
					.section__item_title Наши преимущества 
					p - Сплоченный коллектив. 
					p - Изучение новейших достижений и применение современных технологий.
					p  - Качественное обслуживание клиентов.
				li
					span.about-page-icon
						+icon('about-4', 'about__icon')
					.section__item_title Наши ценности 
					p - Сплоченный коллектив – самая главная ценность
					p - Честность
					p - Справедливое отношение ко всем сотрудникам
					p  - Мы верим в свои силы и нашу команду. - Позитивный корпоративный дух.
				li
					span.about-page-icon
						+icon('about-5', 'about__icon')
					.section__item_title Наши ценности 
					p довольный клиент Не пытаться продать вам очки, а помочь вам восстановить здоровье глаз и предупредить нарушения зрения. Этому способствует  высокий профессионализм наших специалистов и современное оборудование. Все этапы индивидуального подбора очков, линз и всех средств коррекции зрения, а также качество их изготовления проходят под строгим врачебным контролем.
				li
					span.about-page-icon
						+icon('about-6', 'about__icon')
					.section__item_title Наша цель - довольный клиент 
					p Не пытаться продать вам очки, а помочь вам восстановить здоровье глаз и предупредить нарушения зрения. Этому способствует  высокий профессионализм наших специалистов и современное оборудование. Все этапы индивидуального подбора очков, линз и всех средств коррекции зрения, а также качество их изготовления проходят под строгим врачебным контролем.			
		section.certificates
			.container.carousel
				.carousel--left
					.block-title Наши  лицензии
					p.carousel__text  Лицензии на осуществление медицинской деятельности
					.certificates__control
						button.carousel__control.carousel__control--grey.certificates--prev
							span
								+icon('arrow_left')
						button.carousel__control.carousel__control--grey.certificates--next
							span
								+icon('arrow_right')
				.carousel--right.js-certificates--right
					ul.carousel__list.certificates__list.js-certificates__list
						- for (let i =0; i < 5; i++)
							li
								span
									img(src="images/certificates.png", alt="Отзыв")
block append scripts
	script(src="js/slider.js")

				