extends layout
append vars
	- active = 4
	- title = 'Новости | Стигма'
block content
	.container
		+crumbs([ ['Главная', '/'], ['Новости', '/news.html'], ['Проверь зрение ребенка прямо сейчас', '/article.html'] ], 2)
	section
		.container
			.block-title Новости
			article.article-page
				.article-page__header
					.article-page__img
						img(src="images/article/art.png", alt="")
					.article-page__title
						h1 Проверь зрение ребенка прямо сейчас!
					.article-page__date
						time 07.01.2016
				.article-page__body
					.article-page__text
						.article-page__text--bold
							p Ребенок не знает, что плохо видит. Не жди болезни – проверь зрение. Хорошее зрение ребенка очень важно для правильного его развития и познания окружающего мира, поэтому важно заботиться о нем с самого рождения. Именно в детстве легче всего решить возникающие проблемы и заболевания без хирургического вмешательства. Поэтому так важно проводить вовремя диагностику.
						p Оптика «Стигма» прилагает все усилия для облегчения процесса проверки зрения даже самых маленьких пациентов. Наши специалисты могут определить остроту зрения Вашего малыша ТОЧНО, БЫСТРО, БЕСКОНТАКТНО инновационным прибором нового поколения авторефрактометром  Plusoptix. Авторефрактометр Plusoptix – это портативный прибор, позволяющий измерить силы рефракции (преломляющая сила оптической системы глаза), асимметрии роговичных рефлексов (косоглазия), диаметр зрачков и межзрачкового расстояния в режиме реального времени. Прибор позволит выстроить карту фиксации взгляда. Диагностика проходит оперативно и абсолютно безболезненно, поскольку обследуется сразу оба глаза в  течение нескольких секунд на расстоянии одного метра и без расширения зрачка, то есть без закапывания капель. Ребенок не устает, так как процесс скринига проходит в игровой форме.
						.article-page__highlight
							em  Большим плюсом авторефрактометра является возможность проведения обследования у самых маленьких пациентов – детей с 6ти месяцев.
						p Ребенок не знает, что плохо видит. Не жди болезни – проверь зрение. Хорошее зрение ребенка очень важно для правильного его развития и познания окружающего мира, поэтому важно заботиться о нем с самого рождения. Именно в детстве легче всего решить возникающие проблемы и заболевания без хирургического вмешательства. Поэтому так важно проводить вовремя диагностику. Оптика «Стигма» прилагает все усилия для облегчения процесса проверки зрения даже самых маленьких пациентов. Наши специалисты могут определить остроту зрения Вашего малыша ТОЧНО, БЫСТРО, БЕСКОНТАКТНО инновационным прибором нового поколения авторефрактометром  Plusoptix.
							strong  Авторефрактометр Plusoptix 
							| – это портативный прибор, позволяющий измерить силы рефракции (преломляющая сила оптической системы глаза), асимметрии роговичных рефлексов (косоглазия), диаметр зрачков и межзрачкового расстояния в режиме реального времени. Прибор позволит выстроить карту фиксации взгляда. Диагностика проходит оперативно и абсолютно безболезненно, поскольку обследуется сразу оба глаза в  течение нескольких секунд на расстоянии одного метра и без расширения зрачка, то есть без закапывания капель. Ребенок не устает, так как процесс скринига проходит в игровой форме.
					.article-page__img
						img(src="images/article/art.png", alt="")
					.article-page__text
						p Ребенок не знает, что плохо видит. Не жди болезни – проверь зрение. Хорошее зрение ребенка очень важно для правильного его развития и познания окружающего мира, поэтому важно заботиться о нем с самого рождения. Именно в детстве легче всего решить возникающие проблемы и заболевания без хирургического вмешательства. Поэтому так важно проводить вовремя диагностику. Оптика «Стигма» прилагает все усилия для облегчения процесса проверки зрения даже самых маленьких пациентов. Наши специалисты могут определить остроту зрения Вашего малыша ТОЧНО, БЫСТРО, БЕСКОНТАКТНО инновационным прибором нового поколения авторефрактометром  Plusoptix. Авторефрактометр Plusoptix – это портативный прибор, позволяющий измерить силы рефракции (преломляющая сила оптической системы глаза), асимметрии роговичных рефлексов (косоглазия), диаметр зрачков и межзрачкового расстояния в режиме реального времени. Прибор позволит выстроить карту фиксации взгляда. Диагностика проходит оперативно и абсолютно безболезненно, поскольку обследуется сразу оба глаза в  течение нескольких секунд на расстоянии одного метра и без расширения зрачка, то есть без закапывания капель. Ребенок не устает, так как процесс скринига проходит в игровой форме Большим плюсом авторефрактометра является возможность проведения обследования у самых маленьких пациентов – детей с 6ти месяцев.
					.article-page__share
						+share( ['fb-fill', 'vk-fill', 'tw-fill', 'ok-fill'] )
	.container-out
		.container
			article.article-page
				.article-page__footer
					.article-page__nav
						.article-page__nav--prev
							a(href="#").article-page__nav__link
								img(src="images/article/art-min.png", alt="")
								span Предыдущая новость
						.article-page__nav--next
							a(href="#").article-page__nav__link
								img(src="images/article/art-min.png", alt="")
								span Следующая новость
					.article-page__reviews
						.reviews__form__wrap
							form.js-form.form.reviews__form
								.reviews-page__title Комментарий:
								.form-group.reviews__input_left
									.input__wrap
										input.form__input(type="text" id="name" name="name" )
										button(class="close clear js-clear" type="button" data-dismiss="modal" aria-label="Close")
											span(aria-hidden="true") ×
										label(for="name") Ваше имя
									#error_msg Введите ваше имя
								.form-group.reviews__input_right
									.input__wrap
										input.form__input(type="phone" id="phone" name="phone" )
										button(class="close clear js-clear" type="button" data-dismiss="modal" aria-label="Close")
											span(aria-hidden="true") ×
										label(for="phone") E-mail
									#error_msg Введите ваш E-mail
								.form-group
									.input__wrap
										textarea.form__textarea(name="comment", id="comment" cols="30", rows="10" )
										label(for="comment") Комментарий
								.form-group.form__input_left.form__input_captcha
										button(type="submit").button.button--grey.button--small.bottom-captcha Captcha
										input.form__input(type="text" id="captcha" name="captcha" )
								.form-group.form__input_right
										button(type="submit").button.js-bottom Оставить комментарий	
					section.reviews-page__list
						- for (let i = 0; i < 2; i++)
							.reviews-page__item
								.reviews-page__item__header
									.reviews-page__item__img
										img(src="images/rev.png", alt="")
									.reviews-page__item__name
										span Оптикастигмыч
										time 18 июля 2017
								.reviews-page__item__body Диагностика проходит оперативно и абсолютно безболезненно, поскольку обследуется сразу оба глаза в  течение нескольких секунд на расстоянии одного метра и без расширения зрачка, то есть без закапывания капель. Ребенок не устает, так как процесс скринига проходит в игровой форме. Большим плюсом авторефрактометра является возможность проведения обследования у самых маленьких пациентов – детей с 6ти месяцев
							
