extends layout
append vars
	- title = 'Кабинет охраны зрения || Стигма'
block content
	.container
		+crumbs([ ['Главная', '/'], ['Кабинет охраны зрения', '/koz.html']], 1)
		section.section
			.block-title Кабинет охраны зрения
			.section-item
				.section-item__video
					iframe(src='https://www.youtube.com/embed/2zRX0lLIf2A', frameborder='0', allowfullscreen='')
				.section-item__text
					.block-title Миопия (близорукость)
					p дефект зрения, при котором осевая длина глаза (расстояние от роговицы до сетчатки) больше нормы или оптическая сила глаза больше нормы. В результате световые лучи, идущие от удаленных объектов, фокусируются не на сетчатке, а перед ней и изображение удаленного объекта получается размытым. Для коррекции миопии используются отрицательные (рассеивающие) очковые линзы.
			.section-item
				.section-item__video
					iframe(src='https://www.youtube.com/embed/2zRX0lLIf2A', frameborder='0', allowfullscreen='')
				.section-item__text
					.block-title Гиперметропия (дальнозоркость)
					p дефект зрения, при котором осевая длина глаза (расстояние от роговицы до сетчатки) меньше нормы или оптическая сила глаза меньше нормы. В результате световые лучи, идущие от удаленных объектов, (без напряжения аккомодации) фокусируются не на сетчатке, а за ней и изображение удаленных и близкорасположенных объектов получаются размытыми.  Вдаль гиперметропы могут видеть четко. Изображение близкорасположенных объектов будет размытым, если не хватит имеющегося объема аккомодации. Для коррекции гиперметропии используются положительные (плюсовые) очковые  линзы.
			.section-item
				.section-item__video
					iframe(src='https://www.youtube.com/embed/2zRX0lLIf2A', frameborder='0', allowfullscreen='')
				.section-item__text
					.block-title Астигматизм
					p При астигматизме роговица и/или хрусталик имеют несимметричную форму. Проходящие через такой глаз лучи в разных плоскостях фокусируются в разных точках: до сетчатки, на сетчатке и  за сетчаткой. В результате изображение объектов на сетчатке получается размытым. Для коррекции астигматизма используются цилиндрические (астигматические) линзы.
			.section-item
				.section-item__video
					iframe(src='https://www.youtube.com/embed/2zRX0lLIf2A', frameborder='0', allowfullscreen='')
				.section-item__text
					.block-title Пресбиопия (старческая дальнозоркость)
					p Состояние, которое постепенно развивается, начиная примерно с 40-45 лет, когда становится трудно читать  мелкий текст, особенно при плохом освещении. Причина развития пресбиопии - потеря аккомодации, связанная с возрастной потерей эластичности хрусталика. Коррекция пресбиопии осуществляется бифокальными или  прогрессивными линзами
