extends layout
append vars
	- active = 4
	- title = 'Кабинет охраны зрения || Стигма'
block content
	.container
		+crumbs([ ['Главная', '/'], ['Кабинет охраны зрения', '/news.html'] ], 1)
		section.section.news
			.block-title Новости
			.section-item
				.news__img
					img(src="images/news.png", alt="")
				.news__body.section-item__text
					.block-title 
						a(href="/article.html") Проверь зрение ребенка прямо сейчас!
					p Ребенок не знает, что плохо видит. Не жди болезни – проверь зрение. Хорошее зрение ребенка очень важно для правильного его развития и познания окружающего мира, поэтому важно заботиться о нем с самого рождения. Именно в детстве легче всего решить возникающие проблемы и заболевания без хирургического вмешательства. Поэтому так важно проводить вовремя диагностику... 
					time 07.01.2016