extends layout
append vars
	- active = 6
	- title = 'Оплата и доставка || Стигма'
block content
	.container
		+crumbs([['Главная', '/'], ['Оплата и доставка', 'payment.html']], 1)
		section.payment
			.block-title Оплата и доставка
			ul.section__list
				li
					span
						+icon('payment-1', 'about__icon')
					p Приобрести продукцию можно приехав в один из наших салонов, адреса указаны в разделе 
						span Контакты, 
						| по электронной почте: stigma-d@rambler.ru или по телефону у нашего менеджера, который ответит на все интересующие Вас вопросы, включая информацию о наличии и стоимости понравившегося Вам товара.
				li
					span
						+icon('payment-2', 'about__icon')
					p Оплатить товар Вы можете наличными в одном из 
						span наших магазинов 
						| или при доставке на дом, а так же наложенным платежем при отправке почтой.
				li
					span
						+icon('payment-3', 'about__icon')
					p Доставка в регионы осуществляется Почтой России. По ссылке вы можете 
						span рассчитать стоимость доставки в ваш регион. 
				li
					span
						+icon('payment-4', 'about__icon')
					p Если какого-либо товара нет в наличии, то вы можете сделать предварительный заказ изделия. Срок заказа может варьироваться от 3 до 10 дней. Для получения более подробной информации обратитесь к нашему менеджеру по телефону +7 (988) 649-72-58
		