extends layout
append vars
	- active = 1
	- title = 'Акции | Стигма'
block content
	.container
		+crumbs([['Главная', '/'], ['Акции', '/sale.html']], 1)
		section
			.block-title Акции
			ul.sale__list
				li
					span Скидка 10% на детскую оптику
					img(src="images/sale.png", alt="")
					p Скидка 10% на товары в разделе 
						span Оптика для детей 
						| правильного его развития и познания окружающего мира, поэтому важно заботиться о нем с самого рождения. Именно в детстве легче всего решить возникающие проблемы и заболевания без хирургического вмешательства.
						a(href="") Подробнее
