.ymaps-2-1-56-balloon__content {
  margin-right: 0 !important;
  padding: 0 !important;
  width: 540px !important;
  height: 250px !important;
  border-radius: 5px;
  box-shadow: 3px 4px 50px rgba(126, 126, 126, 0.07);
  background-color: #ffffff;

  & > ymaps {
    height: auto !important;
    width: auto !important;    
  }

  @include phones {
    width: auto;
  }
}

.ymaps-2-1-56-balloon__tail {
  left: 50% !important;

  @include phones {
    left: 90% !important;
  }
}

.ymaps-2-1-55-balloon__close {
  display: none;
}

.baloon {
  display: flex;
  border-top: 3px solid $main-color;
}

.baloon__img {
  @include phones {
    display: none;
  }
}

.baloon__adress {
  padding: 25px;
  text-align: center;

  color: #6f7585;
  font-family: "Proxima Nova Light";
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  p {
    margin: 0;
  }
}

.sd1, 
.baloon__adress-phone {
  font-family: "Proxima Nova Bold";
}

.baloon__call.call-to-action {
  border: none;
  background-color: $main-color;

  &:hover {
    background-color: $seconds-color;
  }

  &:hover a {
    color: #fff;
  }
}



