.section-item .block-title {
  margin-top: 0;
  margin-bottom: 25px;
  padding-bottom: 25px;
  font-size: 26px;
  line-height: 20px;

  @include phones {
    line-height: 30px;
  }
}

.section-item {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;

  @include  laptop {
    flex-direction: column;
  }
}

.section-item__video {
  margin: auto;
  width: 100%;
  max-width: 600px;
  height: 350px;

  @include  laptop {
    margin-bottom: 60px;
  }

  @include phones {
    height: 250px;
  }

  iframe {
    width: 600px;
    height: 100%;

    @include desktop {
      width: 450px;
    }

    @include  laptop {
      width: 100%;
      margin-bottom: 60px;
    }
  }
}

.section-item__text {
  margin-left: 65px;

  @include  laptop {
    margin-left: 0;
  }

  p {
    margin: 0;
    font-family: $main-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: $seconds-color;
  }
}