.product-card__offer {
  margin-bottom: 40px;
  padding: 50px;
  background-color: $main-color;
  font-family: $main-font;

  @include desktop {
    padding-right: 20px;
    padding-left: 20px;
  }

  @include tablets {
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  @include phones {
    flex-direction: column;   
  }
}

.product-card__offer-price {
  margin-bottom:15px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Gotham Pro Bold";
  letter-spacing: 2.16px;
  line-height: 24px;

  @include phones {
    font-size: 30px;    
  }

  .icon-rouble {
    font-size: 26px;
    margin-left: -12px;

    @include phones {
      font-size: 21px;    
    }
  }
}

.product-card__offer-oldprice {
  margin-bottom: 26px;
  color: $seconds-color;
  font-family: $main-font;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

  @include phones {
    margin-bottom: 0px;  
    font-size: 14px;    
  }

  span {
    font-family: "Gotham Pro Med";
  }
}

.product-card__offer-available  {
  position: relative;
  margin-bottom: 30px;
  padding-left: 20px;
  color: $seconds-color;
  font-family: $main-font;
  font-size: 16px;

  @include phones {
    font-size: 14px;    
  }

  &:after {
    content: '';
    position: absolute;
    top: 18%;
    left: 0;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background-color: $seconds-color;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 13%;
    left: 2px;
    width: 2px;
    height: 6px;
    border-right: 2px solid $main-color;
    border-bottom: 2px solid $main-color;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
  }

  span {
    font-weight: 600;
  }
}

.product-card__offer-desc {
  margin-bottom: 30px;

  @include laptop {
    display: none;
  }
}

.product-card__offer-desc-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1px;
  padding: 18px;
  background-color: #ffffff;
}

.product-card__offer-buttons {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid #ebb300;

  @include laptop {
    flex-basis: 20%;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .button-compare {
    letter-spacing: 0.32px;
  }

  .button {
    font-family: $second-font;

    @include laptop {
      letter-spacing: 0;
    }

    @include phones {
      font-size: 12px;
      padding: 15px; 
    }
    
    .icon-cart {
      margin-left: 20px;
    }
  }

  a {
    margin-bottom: 10px;
  }
}

.product-card__offer-delivery {

  color: $seconds-color;
  font-family: $main-font;
  text-align: center;
  font-size: 18px;

  @include tablets {
    position: absolute;
    top: 55%;
    width: 28%;
    text-align: left;
  }

  @include phones {
    font-size: 14px; 
    position: relative;   
  }

  & > span {
    display: inline-block;
    margin-bottom: 17px;
    white-space: nowrap;

    @include phones {
      margin-bottom: 0px;  
    }
  }

  & > span > span {
    font-family: "Gotham Pro Med";
    font-weight: 500;

    svg { font-size: 12px; }
  }

  a {
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 1px dashed $seconds-color;
    color: inherit;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;

    @include phones {
      font-size: 14px;    
    }
  }
}

.share {
  display: flex;
  align-items: center;
  justify-content: center;
  
  & > span {
    margin-right: 20px;
  }

  @include laptop {
    justify-content: flex-start;
  }
}

.socials__list {
  padding: 0;
  display: flex;

  li {
    margin-right: 10px;
    height: 25px;
  
    a {
      display: inline-block;
      height: inherit;
    }

    .social__icon {
      font-size: 25px;
      fill: $seconds-color;
    }
  }
}